* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	text-transform: capitalize;
}

/* Home page styles */
.wrapper {
	width: auto;
	height: 100vh;
	background-image: url('https://cdn.wallpapersafari.com/87/96/0eYsrX.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: opacity(80%);
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.521);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}

.logo {
	font-family: sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.7rem;
	color: white;
	margin: 4%;
}
.menu {
	display: inline-block;
	line-height: 80px;
}
.navmenu {
	width: 100%;
}

.menu ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	height: 20px;
	/* letter-spacing: 0.1rem; */
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 0 5px;
	transition: 0.5s ease;
}

.menu ul li a:hover {
	color: white;
	border: 1px solid #00cc66;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: sans-serif;
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color: white;
	padding-bottom: 20px;
}

.header p {
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color: white;
	padding-bottom: 30px;
}

.button {
	padding: 16px 42px;
	box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
	line-height: 1.25;
	text-decoration: none;
	background: #00b359;
	color: white;
	font-size: 16px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	position: relative;
	transition: background-color 0.6s ease;
	overflow: hidden;
	border-radius: 24px;
	cursor: pointer;
}

.button:hover {
	background: #00cc66;
}

/* Sign up styles */

.sbox {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #00001a;
	text-align: center;
	border-radius: 24px;
}
.sbox h1 {
	color: white;
	font-weight: 700;
	margin-bottom: 20px;
}

.sbox input {
	border: 0;
	color: white;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: none;
	border-radius: 24px;
	transition: 0.25s;
}

.sbox input:focus {
	width: 220px;
	border-color: #00cc66;
}

.sbox button {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;

	text-align: center;
	border: 2px solid #00cc66;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 1.2rem;
}

.sbox button:hover {
	background: #00cc66;
}

.newPlant {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.builder {
	background-color: #7cbc03;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	box-shadow: black 3px 3px;
	color: #262401;
}
.builder label {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 3vh;
}

#plant-form {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

#plant-form input {
	margin-top: 5vh;
}

#species-input {
	margin-bottom: 5vh;
}

#image-input {
	margin-bottom: 5vh;
}

#newPlant-button {
	width: 40%;
	height: 7vh;
	border-radius: 5px;
	background-color: #3a5a40;
	color: #dad7cd;
}
#frequency-input {
	margin-bottom: 5vh;
	width: 10%;
	height: 30px;
}

.frequencyDiv label {
	display: flex;
	flex-direction: row;
}

/* login styles */

.box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #00001a;
	text-align: center;
	border-radius: 24px;
}

.box h1 {
	color: white;

	font-weight: 700;
	margin-bottom: 20px;
}
::placeholder {
	text-align: left;
	padding-left: 15px;
}

.box input {
	border: 0;
	color: white;
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: none;
	border-radius: 24px;
	transition: 0.25s;
}

.box input:focus {
	width: 220px;
	border-color: #00cc66;
}

.box button {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #00cc66;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 1.2rem;
}

.box button:hover {
	background: #00cc66;
}

.plant-pic {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

/* dashboard styles */

.plantCard {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: scroll;
}

.card-container {
	background-color: #7cbc03;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	color: #262401;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: black 3px 3px;
	box-sizing: content-box;
	width: 40%;
}

.plantCard h2 {
	background-color: #7cbc03;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #262401;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: black 3px 3px;
	box-sizing: content-box;
	width: 40%;
}

/* width */        
::-webkit-scrollbar {
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lightskyblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: darkslateblue;
}
  
.scroll {
	display: block;
	border: 0px solid red;
	padding: 5px;
	margin-top: 5px;
	width: 100%;
	height: 78vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
}